{
    "presets": [
        ["es2015", {"loose": true, "modules": false}]{{#if_eq templateName 'react'}},
        "react"
        {{/if_eq}}
    ],

    "env": {
        "development": {
            "plugins" : [
                "transform-object-rest-spread",
                ["transform-runtime", {"polyfill": false, "regenerator": false }]
            ]
        },
        "production": {
            "plugins": [
                "transform-object-rest-spread",
                {{#if_eq templateName 'react'}}
                "transform-react-remove-prop-types",
                "transform-react-constant-elements",
                "transform-react-inline-elements",
                {{/if_eq}}
                ["transform-runtime", {"polyfill": false, "regenerator": false }]
            ]
        },
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                "transform-object-rest-spread",
                ["transform-runtime", {"polyfill": false, "regenerator": false }]
            ]
        }
    }
}
